body {
  background: rgb(189, 151, 214);
  background: radial-gradient(
    circle,
    rgb(189, 151, 214) 0%,
    rgb(148, 220, 233) 100%
  );
}

.App {
  text-align: center;
  font-family: "Lato", "Trebuchet MS", sans-serif;
  font-size: 2rem;
}

i {
  margin-right: 20px;
  color: black;
}

input {
  font-size: 1.5rem;
  padding: 8.7px;
}
button {
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  background-color: black;
}

h1 {
  color: aliceblue;
  text-shadow: -2px -1px 2px rgb(5, 5, 5);
}
